In [1]:
import numpy as np

In [2]:
n = 10
list_3n = np.random.randint(1, 100, 3*n)

In [3]:
list_3n

array([62, 86, 75, 50, 49, 14, 62,  2, 28, 85, 51, 40, 84, 16, 24, 44, 17,
       35, 98, 25, 69, 56, 60, 22, 44, 40, 54, 81,  6, 21])

In [4]:
list_3n_sorted = np.sort(list_3n)
list_3n_sorted

array([ 1,  1,  3,  4,  5,  5,  6,  8, 16, 18, 27, 28, 34, 35, 39, 41, 42,
       42, 48, 55, 57, 57, 60, 62, 68, 75, 75, 89, 90, 93])

In [32]:
# Create triplets
(list_3n_sorted[0], list_3n_sorted[-2], list_3n_sorted[-1])

(9, 93, 94)

In [30]:
list_3n_sorted = list_3n_sorted[1:-2]
list_3n_sorted

array([12, 12, 15, 17, 18, 23, 23, 25, 25, 26, 32, 44, 48, 49, 54, 55, 57,
       68, 73, 77, 81, 83, 85, 89, 90, 91, 92])

In [4]:
list_3n_sorted = np.sort(list_3n)
tuples_list = []
while True:
    tuples_list.append((list_3n_sorted[0], list_3n_sorted[-2], list_3n_sorted[-1]))
    list_3n_sorted = list_3n_sorted[1:-2]
    if len(list_3n_sorted) == 0:
        break

In [5]:
tuples_list

[(2, 86, 98),
 (6, 84, 85),
 (14, 75, 81),
 (16, 62, 69),
 (17, 60, 62),
 (21, 54, 56),
 (22, 50, 51),
 (24, 44, 49),
 (25, 40, 44),
 (28, 35, 40)]